<div>
  <div class="headButton">
    <button type="button" class="btn btn-primary" (click)="openModal()">
      Add {{name}}</button
    >{{ "  " }}
    <button class="btn btn-primary" (click)="goBack()">Back</button>
  </div>
  <div>
    <ng-container *ngIf="isModalOpen">
      <app-modal
        class="card-container"
        (closeModal)="closeModal()"
        (receiveData)="receiveData($event)"
        [receivedData]="dataToSend"
        [data]="data"
      >
      </app-modal>
    </ng-container>
  </div>

  <div>
    <ng-container *ngIf="isDocDisplayOpen">
      <app-doc-display
        (closeDisplayDoc)="closeDisplayDoc()"
        [Docdata]="Docdata"
      ></app-doc-display>
    </ng-container>
  </div>

  <div>
    <ng-container *ngIf="isViewerOpen">
      <app-viewer
        (closeViewer)="closeViewer()"
        [Docdata]="Docdata"
      ></app-viewer>
    </ng-container>
  </div>

  <br />
  <div *ngFor="let section of ModuleInfoTable">
    <app-card
      [ngClass]="{ disabled: section.URL }"
      (click)="section.URL || section.data ? null : roteToSubSection(section)"
      (click)="openViewer(section)"
    >
      <div class="card_div">
        <div class="card_div2">
          <h5>{{ section.sno }}.</h5>
          <h5>
            <ng-container
              *ngFor="
                let value of section.Name.split(',') as values;
                let i = index
              "
            >
              <div style="display: flex">
                <div style="width: 10rem">{{ cardHeadings[i] }}</div>
                <div style="display: flex">{{ value }}</div>
              </div>
            </ng-container>
          </h5>
        </div>
      </div>
    </app-card>
    <br />
  </div>

  <br />
</div>
