.calendar {
    width: 80%;
    margin: auto;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
  }
  
  .day {
    padding: 5px;
  }
  
  .cells {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
    text-align: center;
    cursor: pointer;
  }
  
  .cell {
    padding: 10px;
    background-color: lightgray;
  }
  .glow {
    background-color: yellow;
  }