<h1>Welcome to Your Profile Page</h1>

<form #profileForm="ngForm" (ngSubmit)="onsubmit(profileForm)">
  <div>
    <label for="name">Name:</label>
    <input
      type="text"
      id="name"
      name="name"
      [(ngModel)]="ngname"
      value="{{ ngname }}"
      required
    />
  </div>

  <div>
    <label for="mobile">Mobile No:</label>
    <input
      type="tel"
      id="mobile"
      name="mobile"
      [(ngModel)]="ngmobile"
      value="{{ ngmobile }}"
      pattern="[0-9]{10}"
      required
    />
  </div>

  <div>
    <label for="gstin">GSTIN:</label>
    <input
      type="text"
      id="gstin"
      name="gstin"
      [(ngModel)]="nggstin"
      value="{{ nggstin }}"
      pattern="[0-9]{15}"

      required
    />
  </div>

  <div>
    <label for="email">Email:</label>
    <input
      type="email"
      id="email"
      name="email"
      [(ngModel)]="ngemail"
      value="{{ ngemail }}"
      required
    />
  </div>

  <div>
    <label for="state">State:</label>
    <input
      type="text"
      id="state"
      name="state"
      [(ngModel)]="ngstate"
      value="{{ ngstate }}"
      required
    />
  </div>

  <div>
    <label for="pincode">Pincode:</label>
    <input
      type="number"
      id="pincode"
      name="pincode"
      [(ngModel)]="ngpincode"
      value="{{ ngpincode }}"
      pattern="[0-9]{6}"

      required
    />
  </div>

  <!-- Add more input fields as needed -->

  <div>
    <button type="submit" [disabled]="!profileForm.valid" class="save-profile-button">Save Profile</button>
    <button type="button" routerLink="/changepassword">Change Password</button>
  </div>
</form>
