<h1>Welcome to Your Profile Page</h1>
<lib-toastify-toast-container></lib-toastify-toast-container>
<form #profileForm="ngForm" (ngSubmit)="onsubmit(profileForm)">
  <div>
    <label for="name">Name:</label>
    <input
      type="text"
      id="name"
      name="name"
      [(ngModel)]="ngname"
      required
    />
    <small class="error-message" *ngIf="profileForm.controls['name'].invalid && profileForm.controls['name'].touched">
      Please enter a valid name.
    </small>
  </div>

  <div>
    <label for="mobile">Mobile No:</label>
    <input
      type="tel"
      id="mobile"
      name="mobile"
      [(ngModel)]="ngmobile"
      required
      intlTelInput
    />
    <small class="error-message" *ngIf="profileForm.controls['mobile'].invalid && profileForm.controls['mobile'].touched">
      Please enter a valid mobile number (10 digits only).
    </small>
  </div>

  <div>
    <label for="gstin">GSTIN:</label>
    <input
      type="text"
      id="gstin"
      name="gstin"
      [(ngModel)]="nggstin"

    />
    <small class="error-message" *ngIf="profileForm.controls['gstin'].invalid && profileForm.controls['gstin'].touched">
      Please enter a valid GSTIN.
    </small>
  </div>
  

  <div>
    <label for="email">Email:</label>
    <input
      type="email"
      id="email"
      name="email"
      [(ngModel)]="ngemail"
      readonly      
    />
    <small class="error-message" *ngIf="profileForm.controls['email'].invalid && profileForm.controls['email'].touched">
      Please enter a valid email address.
    </small>
  </div>
  

  <div>
    <label for="state">State:</label>
    <input
      type="text"
      id="state"
      name="state"
      [(ngModel)]="ngstate"
      required
    />
    <small class="error-message" *ngIf="profileForm.controls['state'].invalid && profileForm.controls['state'].touched">
      Please enter a valid state.
    </small>
  </div>

  <div>
    <label for="pincode">Pincode:</label>
    <input
      type="number"
      id="pincode"
      name="pincode"
      [(ngModel)]="ngpincode"
      pattern="[0-9]{6}"
      required
    />
    <small class="error-message" *ngIf="profileForm.controls['pincode'].invalid && profileForm.controls['pincode'].touched">
      Please enter a valid pincode (6 digits only).
    </small>
  </div>

  <!-- Add more input fields as needed -->

  <div>
    <button type="submit" [disabled]="!profileForm.valid" class="save-profile-button">Save Profile</button>
    <button type="button" routerLink="/changepassword">Change Password</button>
  </div>
</form>
