<h1>Welcome to Your Profile Page</h1>

<form #profileForm="ngForm" (ngSubmit)="onsubmit(profileForm)">
  <div>
    <label for="name">Name:</label>
    <input
      type="text"
      id="name"
      name="name"
      [(ngModel)]="ngname"
      value="{{ ngname }}"
    />
  </div>

  <div>
    <label for="mobile">Mobile No:</label>
    <input
      type="tel"
      id="mobile"
      name="mobile"
      [(ngModel)]="ngmobile"
      value="{{ ngmobile }}"
      minlength="10"
      required
    />
  </div>

  <div>
    <label for="gstin">GSTIN:</label>
    <input
      type="text"
      id="gstin"
      name="gstin"
      [(ngModel)]="nggstin"
      value="{{ nggstin }}"
      required
    />
  </div>

  <div>
    <label for="email">Email:</label>
    <input
      type="email"
      id="email"
      name="email"
      [(ngModel)]="ngemail"
      value="{{ ngemail }}"
    />
  </div>

  <div>
    <label for="state">State:</label>
    <input
      type="text"
      id="state"
      name="state"
      [(ngModel)]="ngstate"
      value="{{ ngstate }}"
      required
    />
  </div>

  <div>
    <label for="pincode">Pincode:</label>
    <input
      type="number"
      id="pincode"
      name="pincode"
      [(ngModel)]="ngpincode"
      value="{{ ngpincode }}"
      required
    />
  </div>

  <!-- Add more input fields as needed -->

  <div>
    <button type="submit" [disabled]="!profileForm.valid">Save Profile</button>
    <button type="button">Change Password</button>
  </div>
</form>

<div>
  <h3>Avatar Image</h3>
  <img />
  <!-- Add functionality to upload and display the user's avatar image -->
</div>
