
h1 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

form div {
  flex: 0 0 50%; /* Two columns: each div takes 50% width */
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

img {
  max-width: 200px;
  max-height: 200px;
}


.save-profile-button:disabled {
  /* styles for the button when it is disabled */
  opacity: 0.5; /* example: reduce opacity */
  cursor: not-allowed; /* example: change cursor to not-allowed */
  /* Add any other desired styles */
}
.error-message {
  color: red;
}
input[readonly] {
  background-color: #f4f4f4;
  border: none;
  color: #888;
  cursor: not-allowed;
}
