<div>
    <div>
      <button type="button" class="btn btn-primary" (click)="openModal()">
        Add RCM
      </button>
    </div>
    <div>
      <ng-container *ngIf="isModalOpen">
        <app-modal
          class="card-container"
          (closeModal)="closeModal()"
          (receiveData)="receiveData($event)"
          [data]="data"
        >
        </app-modal>
      </ng-container>
    </div>
    <br />
    <div *ngFor="let act of RCMData">
      <app-card (click)="roteToSubjectSelect(act)">
        <div class="card_div">
          <h5>{{act.sno}}.</h5>

          <h5>{{ act.Name }}</h5>
        </div>
      </app-card>
      <br />
    </div>
    <br />
  </div>
  