.card_div {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  .card_div h5 {
    margin: 5px;
    align-self: flex-start;
    cursor: pointer;
  }
  
  .card_div i {
    align-self: center;
    justify-self: center;
    margin: 10px;
  }
  .deleteIcon{
    padding: 20px;
  }