<div>
    <ng-container *ngFor="let item of CardData">
      <div class="card" (click)="sendItem(item)">
        <div class="card-inner">
          <div>
            <div class="card-title" *ngIf="item.date || item.Subject">
              <h3>{{ heading.h1 }}:</h3>
            </div>
  
            <div class="card-title">
              <h3>{{ heading.h2 }}:</h3>
            </div>
          </div>
          <div>
            <div class="card-content" *ngIf="item.date">
              <h2>{{ item.samay }}</h2>
            </div>
            <div class="card-content" *ngIf="item.Subject">
              <h2>{{ item.Subject }}</h2>
            </div>
            <div class="card-content">
              <h2>{{ item.Name }}</h2>
            </div>
          </div>
  
          <ng-content></ng-content>
        </div>
      </div>
      <br />
    </ng-container>
  </div>
  