<div>
  <div>
    <button
      type="button"
      class="btn btn-primary"
      (click)="addSubjectSectionHandler()"
    >
      Add Subject Section Name
    </button>
  </div>
  <br />
  <ng-container *ngIf="isCardOpen">
    <app-modal
      (hideChildEvent)="hideChild()"
      [headings]="headings"
      (formDataEvent)="handleFormData($event)"
    >
      <h2>Working</h2> 
    </app-modal>
  </ng-container>

  <div *ngFor="let item of data">
    <app-card>
      <div class="card_div">
        <div class="routing" (click)="routeSubSelectSection(item)"><h2 style="margin: 10px">{{ item.id }}. {{ item.subject_section }}</h2></div>
        <div>
          <i class="fa-solid fa-pen-to-square"></i>
          <i class="fa-solid fa-trash"></i>
        </div>
      </div>
    </app-card>
    <br>
  </div>
</div>
