<div>
  <div>
    <button type="button" class="btn btn-primary" (click)="openModal()">
      Add Acts
    </button>
  </div>
  <div>
    <ng-container *ngIf="isModalOpen">
      <app-modal
        class="card-container"
        (closeModal)="closeModal()"
        (receiveData)="receiveData($event)"
        [receivedData]="dataToSend"
        [data]="data"
      >
      </app-modal>
    </ng-container>
  </div>
  <div>
    <ng-container *ngIf="isDocDisplayOpen">
      <app-doc-display
        (closeDisplayDoc)="closeDisplayDoc()"
        [Docdata]="Docdata"
      ></app-doc-display>
    </ng-container>
  </div>
  <br />
  <div *ngFor="let section of ModuleInfoTable">
    <app-card>
      <div class="card_div">
        <h2>
          <ng-container *ngFor="let value of section.Name.split(',')">
            {{ value }}<br />
          </ng-container>
        </h2>
        <div
          *ngIf="section.data"
          class="icon-container"
          (click)="openDisplayDoc(section.data)"
        >
          <i class="fa-solid fa-file"></i>
        </div>
      </div>
    </app-card>
    <br />
  </div>
  <br />
</div>
