.card_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card_div h5 {
  margin: 5px;
  align-self: flex-start;
  cursor: pointer;
}
.card_div2 {
  display: flex;
}
.fa-solid.fa-file {
  font-size: 2rem; /* Adjust the icon size as needed */
}
.icon-container {
  padding: 10px;
  cursor: pointer;
}
