<div>
  <div>
    <button type="button" class="btn btn-primary" (click)="openModal()">
      Add Sub Section
    </button>{{"  "}}
    <button class="btn btn-primary" (click)="goBack()">Back</button>

  </div>
  <div>
    <ng-container *ngIf="isModalOpen">
      <app-modal
        class="card-container"
        (closeModal)="closeModal()"
        (receiveData)="receiveData($event)"
        [receivedData]="dataToSend"
        [data]="data"
      >
      </app-modal>
    </ng-container>
  </div>
  <div>
    <ng-container *ngIf="isDocDisplayOpen">
      <app-doc-display
        (closeDisplayDoc)="closeDisplayDoc()"
        [Docdata]="Docdata"
      ></app-doc-display>
    </ng-container>
  </div>
  <br />
  <div *ngFor="let section of ModuleInfoTable">
    <app-card (click)="openDisplayDoc(section.data)">
      <div class="card_div">
        <div class="card_div2">
          <h5>{{ section.sno }}.</h5>

          <h5>
            <ng-container *ngFor="let value of section.Name.split(',')">
              {{ value }}<br />
            </ng-container>
          </h5>
        </div>
        <div
          *ngIf="section.data"
          class="icon-container"
        >
        </div>
      </div>
    </app-card>
    <br />
  </div>
  <br />
</div>
