<div class="modal-overlay">
  <div class="modal-container">
    <button type="button" class="btn-close" (click)="closeBox()"></button>
    <app-card *ngIf="data == 0">
      <div class="pdf-container">
        <div class="pdf-header">
          <h1>PDF Viewer</h1>
        </div>
        <div class="pdf-content">
          <!-- Your data goes here -->
          <h3>{{ variant[0].data }}</h3>
        </div>
        <div class="pdf-footer">
          <p>Page 1 of 1</p>
        </div>
      </div>
    </app-card>
    <app-card *ngIf="data == 1">
      <form #DataSubmit="ngForm" (ngSubmit)="onsubmit(DataSubmit)">
        <div class="pdf-containerE">
          <div class="pdf-page">
            <h4>
              Edit Sub Section ({{ items.subsection_name }}) of Select Section
              ({{ items.subject_section }})
            </h4>
            <textarea
              class="pdf-textfield"
              [(ngModel)]="pdfContent"
              id="data"
              name="data"
            ></textarea>
          </div>
        </div>
        <div><button type="submit" class="btn btn-primary">Save</button></div>
      </form>
    </app-card>
    <ng-content></ng-content>
  </div>
</div>
