<div class="container">
  <h3 class="my-heading">Home</h3>
  <a class="add-question-link" routerLink="/question">
    <p>Add Question</p>
  </a>

  <hr />

  <div class="card-container">
    <div class="card" *ngFor="let q of newData" (click)="navigateToQuestion(q.questionID)">
      <div class="card-header">
        <h2 class="comment-text">{{ q?.qFullName }}</h2>
        <h3 class="comment-id">Question ID {{ q?.questionID }}</h3>
      </div>
      <div class="card-body">
        <h1 class="question-text">{{ q?.question }} ?</h1>
        <div class="answer-container" *ngFor="let q2 of q.answers">
          <div class="answer-details">
            <h2 class="answer-name">{{ q2?.name }}</h2>
            <p class="answer-text">{{ q2?.answer }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
