<div class="card center card" style="width: 25rem;">
  <div class="card-body card-header" >
    <h3 style="text-align: center; font-family: 'Times New Roman', Times, serif;">
       <mat-icon>account_circle</mat-icon> <br> Log In 
      <!-- <img src="\src\assets\img\brand\usericon.png"><br>Log In -->
    </h3>
  </div>
  <div class="card-body">
    <form [formGroup]="formLogin">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" formControlName="email" id="email" [(ngModel)]="loginModel.email"
          placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" formControlName="password" id="pwd"
          [(ngModel)]="loginModel.password" placeholder="Enter password">
      </div><br>
      <!-- <a routerLink="/comment"> </a>-->
      <button type="login" class="btn btn-primary" (click)="login()">Log In</button><br><br>
      If you have not an account.Please <a class="signup-link" routerLink="/signup">Registration here</a>
    </form>
  </div>
</div>