<div class="card center card" style="width: 25rem">
  <div class="card-body card-header">
    <!-- forgot Password -->
    <h3
      *ngIf="endPoint === 0"
      style="text-align: center; font-family: 'Times New Roman', Times, serif"
    >
      <mat-icon>account_circle</mat-icon> <br />
      Forgot Password
    </h3>
    <!-- ------------------------- -->
    <!-- Enter New Password -->
    <h3
      *ngIf="endPoint === 1"
      style="text-align: center; font-family: 'Times New Roman', Times, serif"
    >
      <mat-icon>account_circle</mat-icon> <br />
      Reset Password
    </h3>
    <!-- ------------------------- -->
  </div>
  <lib-toastify-toast-container
    position="top-right"
  ></lib-toastify-toast-container>

  <div class="card-body">
    <!-- forgot Password -->

    <form *ngIf="endPoint == 0" [formGroup]="formForgotPassword">
      <div class="form-group">
        <label for="email">Email:</label>
        <input
          type="email"
          class="form-control"
          formControlName="email"
          id="email"
          [(ngModel)]="forgotPasswordModel.email"
          placeholder="Enter email"
        />
      </div>
      <br />
      <button type="submit" class="btn btn-primary" (click)="sendEmail()">
        Reset Password
      </button>
      <br /><br />
      If you remember your password, please
      <a class="signup-link" routerLink="/login">Log In</a>
      <br />
      If you don't have an account, please
      <a class="signup-link" routerLink="/signup">Register here</a>
    </form>
    <!-- ------------------------- -->

    <!-- Enter New Password -->

    <form *ngIf="endPoint === 1" [formGroup]="formForgotPassword">
      <div class="form-group">
        <label for="email">New Password:</label>
        <input
          type="password"
          class="form-control"
          formControlName="password"
          id="password"
          [(ngModel)]="forgotPasswordModel.password"
          placeholder="Enter Password"
        />
      </div>
      <div class="form-group">
        <label for="email">Confirm Password:</label>
        <input
          type="Cpassword"
          class="form-control"
          formControlName="cpassword"
          id="password"
          [(ngModel)]="forgotPasswordModel.cpassword"
          placeholder="Confirm Password"
        />
      </div>
      <br />
      <button type="submit" class="btn btn-primary" (click)="resetPassword()">
        Reset Password
      </button>
      <br /><br />
      If you remember your password, please
      <a class="signup-link" routerLink="/login">Log In</a>
      <br />
      If you don't have an account, please
      <a class="signup-link" routerLink="/signup">Register here</a>
    </form>
    <!-- ------------------------- -->
  </div>
</div>
