<button class="btn btn-primary" (click)="openModal()">Add council-meetings  </button>
<div>
  <ng-container *ngIf="isDocDisplayOpen">
    <app-doc-display
      (closeDisplayDoc)="closeDisplayDoc()"
      [Docdata]="Docdata"
    ></app-doc-display>
  </ng-container>
</div>
<div>
  <ng-container *ngIf="isViewerOpen">
    <app-viewer (closeViewer)="closeViewer()" [Docdata]="Docdata"></app-viewer>
  </ng-container>
</div>
<div>
  <ng-container *ngIf="isModalOpen">
    <app-modal3
      class="card-container"
      (closeModal)="closeModal()"
      (receiveData)="receiveData($event)"
      [data]="data"
    >
    </app-modal3>
  </ng-container>
</div>
<br />
<app-card2 [CardData]="CardData" [heading]="heading" (receiveCardData)="receiveCardData($event)">
</app-card2>
