.card-inner{
display: flex;
justify-content: start;
margin-left: 10px;
margin-right: 10px;

cursor: pointer;
}
.card-title{
    margin: 0;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: start;
}
.card-title h3{
margin: 20;
}
.card-content{
    padding: 5px;
    margin-left: 15px;
}
